
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Aling Nena's Sari Sari Store! </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style= "background-color:#E6E6FA">
	<center><img class="headpic" src="BahayKubo.png" /></center>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Aling Nena</a>
		  <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
			
            <li><a href="/about">About</a></li>
			
			<li><a href="/products">Products</a></li>
			
          </ul>
		
        </div>
      </div>
    </div>
	
	<div id="content" class= "content">
		<center><h1> ABOUT US: </h1></center>
	
	<p class="text"> Before the sari sari store became a success, Aling Nena was a soldier of the Philippines and served through the two world wars. She was famously called "Aling Kamatayan" because 
of how she killed 200 Americans when they invaded her hometown of Tarlac. Before she opened her sari-sari store in 1960, she co-founded SM alongside Henry Sy in 1958. She chose to follow her own dreams and built the very first sari-sari store in the Philippines. Now, she owns a large chain of sari sari stores under the name "Aling Nena's Sari-sari Store Incorporated".</p>

	</div>
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
