<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Welcome to Aling Nena's Sari Sari Store! </title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style= "background-color:#E6E6FA">
	
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Aling Nena</a>
		  <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
			
            <li><a href="/about">About</a></li>
			
			<li><a href="/products">Products</a></li>
			
          </ul>
		
        </div>
      </div>
    </div>
	
	<form method="post" action="/buy_done/<%=@product.id%>">
	<center><div id="content" class ="content">
		<h2>You choose to buy <%= @product.name %></h2>
		<br>
		<p>Quantity: <input type="number" min="0" name="quantity" value="<%= @quantity%>" readonly></a></p>
		
		<p>Price: <input type="number" name="price" value="<%= @price %>" readonly></p> 
		<h2> Please select your cash payment</h2>
		<p>Ones:<input type="number" min="0" name="ones"></p>
		<p>Fives:<input type="number" min="0" name="fives"></p>
		<p>Tens:<input type="number" min="0" name="tens"></p>
		<p>Twenties:<input type="number" min="0" name="twenties"></p>
		<p>Fifties:<input type="number" min="0" name="fifties"></p>
		<p>Hundreds:<input type="number" min="0" name="hundreds"></p>
		<p>Five Hundreds:<input type="number" min="0" name="five_hundreds"></p>
		<p>Thousands:<input type="number" min="0" name="thousands"></p>
		<br>
		<button class="btn btn-default btn-primary"> Buy now! </button>
		</div></center>
	</form>

	
	

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </body>
</html>
